@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

/* common style section */




/* nav section */
.nav-container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-main {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 50%;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.gamer {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.gamer-logo {
    width: 86.041px;
    height: 38px;
}

.nav-p {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-follow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 258px;
    height: 56px;
}

.you {
    font-size: 28px;
    color: red;
}

.you1 {
    font-size: 28px;
}

/* banner secton */

.banner-h {
    color: #0B0223;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner-goat {
    font-size: 92px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    margin-top: 10px;

}
  .iconb{
    padding:0px 5px;
    font-size: 15px ;
  }
  .banner-list-container{
       margin-top: 20px;
  }
.banner-list {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    padding: 10px 0px;

}

.sing-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.go-btn {
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-left: 25px;
}

.banner-div-main{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner-left{
    width: 50%;
    justify-content: flex-start;
}
.banner-right{
    justify-content: flex-end;
    width: 50%;
}

.banner-btn{
    margin-top: 35px;
}